letters = [
	[ " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", "k", " ", " ", " " ],
	[ "j", "o", "r", "i", "s", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", "a", " ", " ", " " ],
	[ " ", " ", " ", " ", "k", " ", "h", " ", " ", " ", " ", " ", " ", " ", " ", "t", "w", "e", "e" ],
	[ " ", " ", " ", "s", "i", "m", "o", "n", " ", " ", " ", " ", " ", "g", " ", "t", " ", " ", " " ],
	[ " ", " ", " ", " ", "e", " ", "c", " ", " ", "w", " ", "m", "o", "e", "d", "e", "r", " ", " " ],
	[ " ", " ", " ", " ", "n", " ", "k", " ", " ", "i", " ", " ", " ", "t", " ", "n", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", "z", "e", "i", "l", "e", "n", " ", " ", "r", " ", " ", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", " ", "y", " ", " ", "l", " ", " ", " ", "o", " ", " ", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", " ", " ", " ", "v", "e", "r", "b", "o", "u", "w", "i", "n", "g", " " ],
	[ " ", " ", " ", " ", " ", " ", " ", " ", " ", "w", " ", " ", " ", "w", " ", " ", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", " ", " ", " ", "r", "a", "m", " ", " ", "d", " ", " ", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", " ", " ", " ", " ", "a", " ", " ", " ", " ", " ", " ", " ", " ", " " ],
	[ " ", " ", " ", " ", " ", " ", " ", "w", "i", "l", "h", "e", "l", "m", "u", "s", " ", " ", " " ]
]
